#main_heading {
    font-size: 100px;
    text-decoration: double underline;
    text-align: center;
    color: black
}

@media (max-width: 600px) and (min-width: 551px) {
    #main_heading {
        font-size: 95px;
    }
    
}

@media (max-width: 550px) and (min-width: 501px) {
    #main_heading {
        font-size: 90px;
    }
}

@media (max-width: 500px) and (min-width: 451px) {
    #main_heading {
        font-size: 85px;
    }
}

@media (max-width: 450px) and (min-width: 301px) {
    #main_heading {
        font-size: 80px;
    }
}

@media (max-width: 300px) and (min-width: 251px) {
    #main_heading {
        font-size: 75px;
    }
}

@media (max-width: 250px) and (min-width: 201px) {
    #main_heading {
        font-size: 70px;
    }
}

@media (max-width: 200px) and (min-width: 151px) {
    #main_heading {
        font-size: 65px;
    }
}

@media (max-width: 150px) and (min-width: 101px) {
    #main_heading {
        font-size: 60px;
    }
}

@media (max-width: 100px) and (min-width: 51px) {
    #main_heading {
        font-size: 55px;
    }
}

@media (max-width: 50px) and (min-width: 0px) {
    #main_heading {
        font-size: 50px;
    }
}

body {
    background: linear-gradient(to right bottom, orange, orange, white, white, blue, white, white, green, green);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
}

#main_section_div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

#para {
    text-align: center;
    font-size: 40px;
}

@media (max-width: 600px) and (min-width: 551px) {
    #second_heading {
        font-size: 38px;
    }
}

@media (max-width: 550px) and (min-width: 501px) {
    #second_heading {
        font-size: 36px;
    }
}

@media (max-width: 500px) and (min-width: 451px) {
    #second_heading {
        font-size: 34px;
    }
}

@media (max-width: 450px) and (min-width: 401px) {
    #second_heading {
        font-size: 32px;
    }
}

@media (max-width: 400px) and (min-width: 351px) {
    #second_heading {
        font-size: 30px;
    }
}

@media (max-width: 350px) and (min-width: 301px) {
    #second_heading {
        font-size: 28px;
    }
}

@media (max-width: 300px) and (min-width: 251px) {
    #second_heading {
        font-size: 26px;
    }
}

@media (max-width: 250px) and (min-width: 201px) {
    #second_heading {
        font-size: 24px;
    }
}

@media (max-width: 200px) and (min-width: 151px) {
    #second_heading {
        font-size: 22px;
    }
}

@media (max-width: 150px) and (min-width: 101px) {
    #second_heading {
        font-size: 20px;
    }
}

@media (max-width: 100px) and (min-width: 51px) {
    #second_heading {
        font-size: 18px;
    }
}

@media (max-width: 50px) and (min-width: 0px) {
    #second_heading {
        font-size: 16px;
    }
}

.sta_ui {
    width: 250px;
    height: 125px;
    border-radius: 15%;
    background: linear-gradient(to right, #0d0d48, #0e0e74, #1212aa);
    font-size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    background-attachment: fixed;
}

.sta_ui_link {
    text-decoration: none;
    margin: 20px;
}